	<div id="membership-content-box">
		<div id="content-right-title">
			<h1>Roster</h1>
		</div>
		<div id="roster-div">
			<div id="roster-box" class="floatleft">
				<ul id="roster-ul" class="members-listing">
					<li>
						<ul class="member-info-ul" style="font-family: QuicksandBook, FuturaBook, sans serif; font-weight: 200; font-size: 1.1em">
							<li class="member-info-name">
								Name
							</li>
							<li class="member-info-division">
								Division
							</li>
						</ul>
					</li>
					{{#each member in controller}}
						{{#if member.display}}
							<li class="horizontal-li">
								<ul class="member-info-ul">
									<li class="member-info-name">{{#link-to "member" member}}{{member.nameFormatted}}{{/link-to}}</li>
									<li class="member-info-division">
										{{getAgeDivision member.dob}} {{getPrettyGender member.gender}}
									</li>
								</ul>
							</li>
						{{/if}}
					{{else}}
						<li>No members found!</li>
					{{/each}}
				</ul>
				<div style="display: block">
					<button {{action "create"}}>New Member</button>

					<p>Don't see yourself? Click the button above, or send a message to our <a href="http://strawberrycanyontc.org/clubinfo/contact.php">contact form</a>, including your name and birthday.</p>
				</div>
			</div>
			<div id="member-info-box" class="floatright">
				{{outlet}}
			</div>
			<div class="clearfloat"></div>
			{{outlet modal}}
		</div>
	</div>