<div id="member-info-box-interior">
	<button {{action "edit"}}>Edit</button>
	<button {{action "cancel"}}>X</button>

	<h2>{{nameFormatted}}</h2>
	<p>Division: {{getAgeDivision dob}} {{getPrettyGender gender}}</p>
</div>

{{outlet}}
